#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2361CE;
  color: white;
}

.button {
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 90px;
  border-radius: 8px;
}

.button1 {
  background-color: #ECB32C; 
  color: white; 
}

.button1:hover {
  background-color: #FFB300;
  color: white;
}

.button2 {
  background-color: #F44336; 
  color: white; 
}

.button2:hover {
  background-color: #FF1100;
  color: white;
}

.button3 {
  background-color: #3FAFF4; 
  color: white; 
}

.button3:hover {
  background-color: #009EFF;
  color: white;
}

.button4 {
  background-color: #3FF446; 
  color: white; 
}

.button4:hover {
  background-color: #00FF0A;
  color: white;
}